/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/
$red:                             #F44336 !default;
$pink:                            #E91E63 !default;
$purple:                          #9C27B0 !default;
$deeppurple:                      #673AB7 !default;
$indigo:                          #3F51B5 !default;
$blue:                            #2196F3 !default;
$lightblue:                       #03A9F4 !default;
$cyan:                            #00BCD4 !default;
$teal:                            #009688 !default;
$green:                           #4CAF50 !default;
$lightgreen:                      #8BC34A !default;
$lime:                            #CDDC39 !default;
$yellow:                          #FFEB3B !default;
$amber:                           #FFC107 !default;
$orange:                          #FF9800 !default;
$deeporange:                      #FF5722 !default;
$brown:                           #795548 !default;
$grey:                            #9e9e9e !default;
$bluegrey:                        #607D8B !default;
$black:                           #000 !default;
$light:                           #fff !default;
$stable:                          #f8f8f8 !default;

$calm:                            #81d8d0 !default;
$energized:                       #f0b840 !default;
$dark:                            #444 !default;
$earth:                           #706662 !default;
$alpha:                           0.8 !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;
// Include all of Ionic
// @import "../../bower_components/ionic/scss/ionic";
button, select, html, textarea, input, h1, h2, h3, h4, h5, h6, p {
	font-family:  "Noto Sans", "Noto Sans CJK TC", Roboto, sans-serif;
}

body {
  padding: 0;
}


/* Main marketing message and sign up button */
.jumbotron {
  background-color: $earth;
  text-align: center;
  border-bottom: 1px solid $stable;
  width: 100%;
  color: $amber;
}
.menu, .search {
  position: fixed;
  top: 2px;
  z-index: 999;
}
.menu {
  left: 2px;
}

.search {
  right: 2px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/**===========================**/
.w100 {
  width: 100%;
}

.sidemenu {
  width: 100%;
  height: 100%;
  position: absolute;
}

.usericon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  top: 10px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.center {
  text-align: center;
}

.fixbtm {
  position: fixed;
  width: 95%;
  bottom: 0;
}

.burgmenu {
  color: $light;
  cursor: pointer;
}

.pa10 {
  padding: 10px;
}

.mt300 {
  margin-top: 300px;
}


.titlebar {
  background: rgba(0,0,0,0.5);
  position: absolute;
  width: 83%;
  z-index: 2;
  bottom: 8px;
  color: $light;
  padding: 8px;
}

.cityimage {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding: 60% 0 0 0;
    overflow: hidden;
}


.cityimage-inner {
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.citytxtbg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 15%; 
    background: rgba(0,0,0,0.5);
    color: $light;
    text-align: center;
}

.citytxtbg:hover {
  background: transparent;
  color: $amber;
  cursor: pointer;
}

.mt15 {
  margin-top: 15px;
}

.mtbm10 {
	margin-top: -10px;
	margin-bottom: -10px;
}

.light-txt{
  color: $light !important;
}

.cyan-txt {
  color: $cyan !important;
}

.cyan-bg {
  background-color: $cyan !important;
}

.calm-txt {
	color: $calm !important;
}

.calm-bg {
  background-color: $calm !important;
}

.amber-txt {
  color: $amber !important;
}

.amber-bg {
  background-color: $amber !important;
}

.earth-txt {
  color: $earth !important;
}

.earth-bg {
  background-color: $earth !important;
}

.red-txt {
  color: $red !important;
}

.red-bg {
  background-color: $red !important;
}

.purple-txt {
  color: $purple !important;
}

.purple-bg {
  background-color: $purple !important;
}

.green-txt {
  color: $green !important;
}
.green-bg {
  background-color: $green !important;
}

.topright {
	position: absolute;
	top: 0;
	right: 0;
  z-index: 99;
}

.fav {
	color: $red;
}

.unfav {
	color: rgba( $light, $alpha);
}

.f18 {
	font-size: 18px;
}

.pointer {
	cursor: pointer;
}

.hcarousel {
  height: 300px;
}

.slideactive {
  color: $amber;
}

.slideother {
  color: $earth;
}


.custom-indicator {
  position: relative;
  text-align: center;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: -50px auto;
}

.bdstable {
  border: 1px solid $stable;
}

.fbold {
  font-weight: bold !important;
}

.ishadow {
  text-shadow: 1px 1px 1px $dark;
}

.header {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: fixed;
    top: 0;
    // left: 0;
    z-index: 999;
    background-color: $earth;
    -webkit-transition: ease-in-out, height 1.5s ease-in-out;
    -moz-transition: ease-in-out, height 1.5s ease-in-out;
    -ms-transition: ease-in-out, height 1.5s ease-in-out;
    -o-transition: ease-in-out, height 1.5s ease-in-out;
    transition: ease-in-out, height 1.5s ease-in-out;
}

.bgImg {
  background-repeat: no-repeat;
  background-size: cover;
}


.placename {
    z-index: 9999;
    position: absolute;
    bottom: 0;
    left: 0;
    /* margin: 0 20px; */
    font-size: 25px;
    background: rgba(255,255,255,0.5);
    width: 100%;
    padding-left: 20px;
    color: $black;

}

.fl {
  float: left;
}

.clearfix {
  clear: both; 
}
// .header h1 #logo {
//     display: inline-block;
//     height: 300px;
//     line-height: 300px;
//     float: left;
//     font-family: "Oswald", sans-serif;
//     font-size: 60px;
//     color: white;
//     font-weight: 400;
//     -webkit-transition: all 0.5s;
//     -moz-transition: all 0.5s;
//     -ms-transition: all 0.5s;
//     -o-transition: all 0.5s;
//     transition: all 0.5s;
// }

// .header nav {
//     display: inline-block;
//     float: right;
// }
// .header nav a {
//     line-height: 150px;
//     margin-left: 20px;
//     color: #9fdbfc;
//     font-weight: 700;
//     font-size: 18px;
//     -webkit-transition: all 0.3s;
//     -moz-transition: all 0.3s;
//     -ms-transition: all 0.3s;
//     -o-transition: all 0.3s;
//     transition: all 0.3s;
// }
// .header nav a:hover {
//     color: white;
// }
.header.medium {
    height: 120px;
}

.header.smaller {
    height: 75px;
}
// .header.smaller h1#logo {
//     width: 150px;
//     height: 75px;
//     line-height: 75px;
//     font-size: 30px;
// }
// .header.smaller nav a {
//     line-height: 75px;
// }


.textalignl {
  text-align: left;
}

.textalignc {
  text-align: center;
  padding-left: 0px !important;
}

@media(min-width: 960px) {

  .textalignc {
    text-align: left;
    padding-left: 20px;
  }
}


@media (max-width: 600px) {
  .header {
    height: 250px;
  }
  .header.smaller {
    height: 60px;
  }
  .placename {
    font-size: 18px;
  }
  .mt300 {
    margin-top: 250px;
  }
}

.pl0 {
  padding-left: 0 !important;
}

#wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  overflow: auto;
  margin: 0 auto; 
}

.br {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
}